:root {
    --green: #98C945;
    --green-light: #D1F12B;
    --green-dark: #578D0B;
    --brown: #444735;
    --brown-ligth: #505340;
    --brown-dark: #383B2A;
    --caramel: #DE9331;
    --caramel-light: #F9B654;
    --caramel-dark: #BE6E0F;
    --pink: #EF6162;
    --blue: #17a2b8;
}

p {
    margin: 1em;
}


/* BUTTON
-------------------------------------------------- */

.button-organicum {
    margin: 0.5em;
    border: 2px solid var(--green-dark);
    padding: 0.5em 2em;
    color: var(--green-dark);
}

.button-organicum:hover {
    background-color: white;
    border: 2px solid var(--green-dark);
    padding: 0.5em 2em;
    color: var(--green-dark);
}

.button-organicum-cancelar {
    margin: 0.5em;
    background-color: var(--pink);
    border: 2px solid var(--pink);
    padding: 0.5em 2em;
    color: white;
}

.button-organicum-cancelar:hover {
    border: 2px solid var(--pink);
    background-color: white;
    color: var(--pink);
}

.button-organicum-neutro {
    margin: 0.5em;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    padding: 0.5em 2em;
    color: white;
}

.button-organicum-neutro:hover {
    border: 2px solid var(--blue);
    background-color: white;
    color: var(--blue);
}

.link-organicum {
    margin: 0.5em;
    text-decoration: none;
    padding: 0.5em 1em;
    color: var(--caramel-dark);
    border: 1px solid var(--caramel);
}

.link-organicum:hover,
.link-organicum:active {
    margin: 0.5em;
    background-color: var(--caramel);
    color: white;
}


/* Flex */

.flex {
    display: flex;
}

.flex-item-1 {
    flex: 1;
}


/* Flex Item */

.item {
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
}

.container {
    margin: 0 auto;
}

body {
    font-family: monospace;
    color: #333;
}